#header-top{
    display : flex;
    justify-content : space-between;
    align-items : center;
    background:linear-gradient(to bottom ,black,rgb(59, 59, 59));
}

#header-top p{
    color : rgb(190, 189, 189);
    font-weight :bold;
    text-decoration : none;
    font-size : 30px;
    margin : 0px 30px;
}

#header-top img{
    width : 100px;
    height : 40px;
}

#header-tops {
    display : flex;
    list-style : none;
    gap : 30px;
    color : white;
    font-weight : bold;
    margin-right : 50px;   
      
}

#header-tops a{
    color : white;
    position : relative;
    display : inline-block;
    text-decoration : none;
    transition : color 0.7s ease;
}

#header-tops a::after{
    content : "";
    position : absolute;
    left:50%;
    bottom : 0;
    width : 0;
    height : 2px;
    background-color : red;
    transition : all 0.3s ease;
    transform : translateX(-50%);
}

#header-tops a:hover::after{
    width : 100%;
}

#header-tops a:hover{
    color : red;
    cursor :pointer;
}


#images{
    display : flex;
    justify-content : center;
}

#slider{
    display : flex;
    justify-content : center;
    align-items: center;
    position : relative;
}

#slider button {
    width : 20px;
    height : 20px;
    background : transparent;
    border : none;
    font-size : 50px;
    z-index : 9999;
}

#prev{
    position : absolute;
    left : -6%;
    cursor : pointer;
    transition : color 0.3s ease;
}



#prev:hover{
    color : red;
}

#next:hover{
    color : red;
}

#next{
    position : absolute;
    right : -2%;
    cursor : pointer;
    transition : color 0.8s ease;
}



#images img{
    width:1100px;
    height:610px;
}

#profile{
    background :linear-gradient(to bottom ,yellow,rgb(198, 198, 1));
    height : 600px;
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 40px;
}


#profile-image-skill{
    display : flex;
    flex-direction : column;
    align-items : center;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++ */
#profile-skill{
    font-size : 20px;
    background-color : rgb(255, 255, 255);
    padding : 10px;
    opacity : 0;
    transform : translateY(-50px);
    transition : opacity 0.5s ease , transform 0.5s ease;
}

#profile-skill.invisible{
    opacity : 1;
    transform : translateY(0);
}


/* ++++++++++++++++++++++++++++++++++++++++++++ */
#profile-image{
    width : 600px;
    height : 400px;
    opacity : 0;
    transform : translateY(20px);
    transition :opacity 0.5s ease ,translateY 0.5s ease;
}

#profile-image.visible{
    opacity : 1;
    transform:translateY(0);
}

#profile-detail{
    list-style : none;
    padding : 0px;
    position : relative;
}

#profile-title{
    font-size : 15px;
    position : absolute;
    top : -4%;
    left : 10%;

}

#profile-title2{
    font-size : 25px;
    padding-left : 20px;
}

#profile-slogan{
    text-decoration : underline;
}

#profile-sentence{
    margin-bottom : 20px;
    line-height : 2;
}

.pareer-history{
    list-style : none;
    padding-bottom : 3px;
}

#Programming{
    display : flex;
    justify-content : space-between;
    align-items : center;
    background :linear-gradient(to bottom ,rgb(71, 1, 249),rgb(50, 1, 174));
    height : 600px;
    padding : 40px;
}

#Programming-image-skill{
    display : flex;
    flex-direction : column;
    align-items : center;
}

#Programming-skill{
    font-size : 20px;
    background-color : rgba(255, 255, 255);
    padding : 10px;
    opacity : 0;
    transform : translateY(-50px);
    transition : opacity 0.5s ease , transform 0.5s ease;
}

#Programming-skill.invisible{
    opacity : 1;
    transform : translateY(0);
}

#Programming-image{
    width : 600px;
    height : 400px;
}

#Programming-slogan{
    text-decoration:underline;
}

#Programming-detail{
    color : rgb(235, 233, 233);
    list-style : none;
    padding : 0px;
    position : relative;
}

#Programming-title{
    font-size : 15px;
    position : absolute;
    top : 5%;
    left : 25%;

}

#Programming-title2{
    font-size : 25px;
    padding-left : 20px;
}

#Programming-sentence{
    margin-bottom : 20px;
    line-height : 2;
}

#Writing{
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 40px;
    background :linear-gradient(to bottom ,rgb(249, 1, 117),rgb(186, 1, 87));
    height : 600px;
}

#Writing-image-skill{
    display : flex;
    flex-direction : column;
    align-items : center;
}

#Writing-skill{
    font-size : 20px;
    background-color : rgb(255, 255, 255);
    padding : 10px;
    opacity : 0;
    transform : translateY(-50px);
    transition : opacity 0.5s ease , transform 0.5s ease;
}

#Writing-skill.invisible{
    opacity : 1;
    transform : translateY(0);
}

#Writing-image{
    width : 600px;
    height : 400px;
}

#Writing-detail{
    list-style : none;
    padding : 0px;
    position : relative;
}

#Writing-title{
    font-size : 15px;
    position : absolute;
    top : 5%;
    left : 12%;
}

#Writing-title2{
    font-size : 25px;
    padding-left : 20px;
}

#Writing-slogan{
    text-decoration : underline;
}

#Writing-sentence{
    margin-bottom : 20px;
    line-height : 2;
}


#video-edting{
    display : flex;
    justify-content : space-between;
    align-items : center;
    background :linear-gradient(to bottom ,rgb(2, 132, 23),rgb(1, 94, 16));
    height : 600px;
    padding : 40px;
}

#video-edting-image-skill{
    display : flex;
    flex-direction : column;
    align-items : center;
}

#video-edting-skill{
    font-size : 20px;
    background-color : rgb(255, 255, 255);
    padding : 10px;
    opacity : 0;
    transform : translateY(-50px);
    transition : opacity 0.5s ease , transform 0.5s ease;
}

#video-edting-skill.invisible{
    opacity : 1;
    transform : translateY(0);
}

#video-edting-image{
    width : 600px;
    height : 400px;
}

#video-edting-slogan{
    text-decoration:underline;
    margin-top : 0px;
}

#video-edting-detail{
    color : rgb(235, 233, 233);
    list-style : none;
    padding : 0px;
    position : relative;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    width : 100%;
    padding-left : 80px;
}

#video-edting-title{
    font-size : 15px;
    position : absolute;
    top : 6%;
    left : 40%;

}

#video-edting-title2{
    font-size : 25px;
    padding-left : 20px;
}

#video-edting-sentence{
    margin-bottom : 20px;
    line-height : 2;
}

#illustraiton{
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 40px;
    background :linear-gradient(to bottom ,rgb(245, 147, 1),rgb(202, 122, 1));
    height : 600px;
}

#illustraiton-image-skill{
    display : flex;
    flex-direction : column;
    align-items : center;
}

#illustraiton-skill{
    font-size : 20px;
    background-color : rgb(255, 255, 255);
    padding : 10px;
    opacity : 0;
    transform : translateY(-50px);
    transition : opacity 0.5s ease , transform 0.5s ease;
}

#illustraiton-skill.invisible{
    opacity : 1;
    transform : translateY(0);
}

#illustraiton-image{
    width : 600px;
    height : 400px;
}

#illustraiton-detail{
    list-style : none;
    padding : 0px;
    position : relative;
}

#illustraiton-title{
    font-size : 15px;
    position : absolute;
    top : 5%;
    left : 22%;
}

#illustraiton-title2{
    font-size : 25px;
    padding-left : 20px;
}

#illustraiton-slogan{
    text-decoration : underline;
}

#illustraiton-sentence{
    margin-bottom : 20px;
    line-height : 2;
}



#image-editing{
    display : flex;
    justify-content : space-between;
    align-items : center;
    background :linear-gradient(to bottom ,rgb(3, 150, 255),rgb(1, 104, 177));
    height : 600px;
    padding : 40px;
}

#image-editing-image-skill{
    display : flex;
    flex-direction : column;
    align-items : center;
}

#image-editing-skill{
    font-size : 20px;
    background-color : rgb(255, 255, 255);
    padding : 10px;
    opacity : 0;
    transform : translateY(-50px);
    transition : opacity 0.5s ease , transform 0.5s ease;
}

#image-editing-skill.invisible{
    opacity : 1;
    transform : translateY(0);
}

#image-editing-image{
    width : 600px;
    height : 400px;
}

#image-editing-slogan{
    text-decoration:underline;
    margin-top : 0px;
}

#image-editing-detail{
    color : rgb(235, 233, 233);
    list-style : none;
    padding : 0px;
    position : relative;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    width : 100%;
    padding-left : 80px;
}

#image-editing-title{
    font-size : 15px;
    position : absolute;
    top : 6%;
    left : 40%;

}

#image-editing-title2{
    font-size : 25px;
    padding-left : 20px;
}

#image-editing-sentence{
    margin-bottom : 20px;
    line-height : 2;
}

#fixedIcon{
    position : fixed;
    bottom : 20px;
    right : 20px;
    width : 150px;
    height : 140px;
    border-radius : 5%;
    background-color : rgba(255, 255, 255, 0.5);
    border : none;
    cursor : pointer;
    font-size : 24px;
    box-shadow : 0px 2px 6px rgba(0,0,0,0.3);
    z-index : 1;
    display : flex;
    flex-wrap : wrap;
    justify-content : center;
    align-items : center;
    gap : 20px;
    padding : 10px; 
}

#fixedIcon:hover{
    background-color: #cccbcbaf;
}

#youtubeButton {
  width: 50px;
  height: 50px;
  background-color:rgba(255, 255, 255, 0.3);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  text-decoration: none;
  z-index: 2;
  box-shadow : 2px 2px 5px black;

}

#youtubeButton:hover{
    width: 58px;
    height: 58px;
}

#tiktokButton{
  width: 50px;
  height: 50px;
  background-color:rgba(255, 255, 255, 0.3);
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  text-decoration: none;
  z-index: 2;
  box-shadow : 2px 2px 5px;
}

#tiktokButton:hover{
    width: 58px;
    height: 58px;
}

#instagramButton{
  width: 50px;
  height: 50px;
  background-color:rgba(255, 255, 255, 0.3);
  background : linear-gradient(to right, rgb(255, 1, 103),rgb(255, 174, 0),rgb(242, 255, 0));
  -webkit-background-clip : text;
  -webkit-text-fill-color:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  text-decoration: none;
  z-index: 2;
  box-shadow : 2px 2px 5px black;
}

#instagramButton:hover{
    width: 58px;
    height: 58px;
}

#wordpress{
 width: 50px;
  height: 50px;
  background-color:rgba(255, 255, 255, 0.3);
  color:blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  text-decoration: none;
  z-index: 2;
  box-shadow : 2px 2px 5px black;
}  

#wordpress:hover{
    width: 58px;
    height: 58px;
}

#Programming-image{
    width : 600px;
    height : 400px;
    opacity : 0;
    transform : translateY(20px);
    transition :opacity 0.5s ease ,translateY 0.5s ease;
}



#Programming-image.visible{
    opacity : 1;
    transform:translateY(0);
}

#Writing-image{
    width : 600px;
    height : 400px;
    opacity : 0;
    transform : translateY(20px);
    transition :opacity 0.5s ease ,translateY 0.5s ease;
}

#Writing-image.visible{
    opacity : 1;
    transform:translateY(0);
}

#video-edting-image{
    width : 600px;
    height : 400px;
    opacity : 0;
    transform : translateY(20px);
    transition :opacity 0.5s ease ,translateY 0.5s ease;
}

#video-edting-image.visible{
    opacity : 1;
    transform:translateY(0);
}

#illustraiton-image{
    width : 600px;
    height : 400px;
    opacity : 0;
    transform : translateY(20px);
    transition :opacity 0.5s ease ,translateY 0.5s ease;
}

#illustraiton-image.visible{
    opacity : 1;
    transform:translateY(0);
}

#image-editing-image{
    width : 600px;
    height : 400px;
    opacity : 0;
    transform : translateY(20px);
    transition :opacity 0.5s ease ,translateY 0.5s ease;
}

#image-editing-image.visible{
    opacity : 1;
    transform:translateY(0);
}




.fade-anim{
    animation:slideZoom 0.8s ease forwards;
}

@keyframes slideZoom{
    0%{
        transform : scale(0.8) translateX(100%);
        opacity : 0;
    }
    50%{
        transform : scale(0.8) translateX(0);
        opacity : 1;
    }
    100%{
        transform : scale(1) translateX(0);
    }
}

#dott{
    display : flex;
    position : absolute;
    top:90%;
    left : 43%;
    z-index:10000;
    cursor : pointer;
}

.indicator{
    user-select : none ;
    width : 10px;
    height : 10px;
    margin : 10px;
    background-color : gray;
    border : 2px solid white;
    box-shadow : 2,2,2,black;
    z-index:10000;
}

.activer{
    background-color : red;
}